/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formulaire {
    flex-direction: column;
}

/* Form Styles */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
}

/* Label Styles */
form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input Styles */
form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button Styles */
form button {
    width: 80%; /* Adjusted width to be smaller than the full width */
    padding: 8px; /* Reduced padding for smaller height */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px; /* Slightly smaller font size */
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Center align the button */
    display: block; /* Ensure the button is displayed as a block element */
}

form button:hover {
    background-color: #0056b3;
}


#title-container  {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

svg {
    transform: translate(-23%, -7%);

}

#erreur_pays {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color:red;
}




















